<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.xie.repast.mapper.CollectMapper">
  <resultMap id="BaseResultMap" type="com.aaa.xie.repast.model.Collect">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="collect_start_time" jdbcType="DATE" property="collectStartTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, product_id, shop_id, status, collect_start_time
  </sql>

</mapper>