<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.xie.repast.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.aaa.xie.repast.model.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_attribute_category_id" jdbcType="BIGINT" property="productAttributeCategoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
    <result column="new_status" jdbcType="INTEGER" property="newStatus" />
    <result column="recommand_status" jdbcType="INTEGER" property="recommandStatus" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="gift_point" jdbcType="INTEGER" property="giftPoint" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="low_stock" jdbcType="INTEGER" property="lowStock" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="service_ids" jdbcType="VARCHAR" property="serviceIds" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="album_id" jdbcType="BIGINT" property="albumId" />
    <result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
    <result column="promotion_start_time" jdbcType="TIMESTAMP" property="promotionStartTime" />
    <result column="promotion_end_time" jdbcType="TIMESTAMP" property="promotionEndTime" />
    <result column="promotion_per_limit" jdbcType="INTEGER" property="promotionPerLimit" />
    <result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
    <result column="currency" jdbcType="TINYINT" property="currency" />
  </resultMap>

  <sql id="Base_Column_List">
    id, shop_id, brand_id, product_category_id, product_attribute_category_id, name, 
    pic, product_sn, delete_status, publish_status, new_status, recommand_status, sort, 
    sale, price, promotion_price, gift_point, sub_title, original_price, stock, low_stock, 
    unit, weight, service_ids, keywords, note, album_id, detail_title, promotion_start_time, 
    promotion_end_time, promotion_per_limit, promotion_type, brand_name, product_category_name, 
    currency
  </sql>

</mapper>